.titulo {
    display: flex;
    align-items: center;
}

.titulo img {
    margin-right: 20px;
    /* Espaçamento entre a imagem e o texto */
}

.fieldset {
    margin: 10px;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
}

.body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: black;
    font-size: 24px;
    color: white
}

.h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer {
    background-color: black;
    font-size: 24px;
    color: white
}